NODE_ENV=DEVELOPEMENT
BUN_PUBLIC_BACKEND_BASE_URL=http://localhost:9000
AI_GATEWAY_API_KEY=

# Set true if you'd like to create a test database to test new integrations
BUN_PUBLIC_DEV_MODE=false
CRON_ENABLED=false

# Discord
BUN_PUBLIC_DISCORD_CLIENT_ID= 
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=

# Notion
BUN_PUBLIC_NOTION_CLIENT_ID=
NOTION_CLIENT_SECRET=

# Plaud
BUN_PUBLIC_PLAUD_CLIENT_ID=
PLAUD_CLIENT_SECRET=

# Github
BUN_PUBLIC_GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Spotify
BUN_PUBLIC_SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Slack
BUN_PUBLIC_SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=

# Twitter / X
BUN_PUBLIC_TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=

# HubSpot
BUN_PUBLIC_HUBSPOT_CLIENT_ID=
HUBSPOT_CLIENT_SECRET=

# Linear
BUN_PUBLIC_LINEAR_CLIENT_ID=
LINEAR_CLIENT_SECRET=
