NODE_ENV=DEVELOPEMENT
BUN_PUBLIC_BACKEND_BASE_URL=http://localhost:9000
AI_GATEWAY_API_KEY=

# Set true if you'd like to create a test database to test new integrations
BUN_PUBLIC_DEV_MODE=false

# Discord
BUN_PUBLIC_DISCORD_CLIENT_ID= 
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
