NODE_ENV=DEV
BUN_PUBLIC_BACKEND_BASE_URL=http://localhost:9000
AI_GATEWAY_API_KEY=

# Discord
BUN_PUBLIC_DISCORD_CLIENT_ID="" 
# IMPORTANT: Separated by spaces
BUN_PUBLIC_DISCORD_SCOPE="" 
DISCORD_CLIENT_SECRET=
